<p>My name is Lochlan and I like to build things—some of which you can find on <a href="http://www.github.com/Lochlan/">Github</a>.</p>

<p>I am a native Portlander and life-long technology enthusiast.  Other than spending time with my awesome girlfriend and relaxing with my dog, my two favorite things in the world are web development and writing software for the PC Engine, an antiquated game console.  I also like eating at French restaurants (my favorites are <a href="http://lecrocodilerestaurant.com/">Le Crocodile</a> and <a href="http://stjackpdx.com/">St. Jack</a>), playing old video games, and hiking the Council Crest and Pittock Mansion trails.</p>

<p>I am currently employed as Lead Frontend Developer at Zappallas US and do a small amount of freelance work on the side.  If you are interested in hiring me for your project please <a href="#contact">contact me</a>.</p>
