<section>
    <h3>Education</h3>

    <p>B.S. Computer Science, Portland State University, Portland, OR. Graduated 2012.</p>

    <h3>Technology</h3>

    <dl class="cv_technology_list">
        <dt>Expert</dt>
            <dd>JavaScript, CSS, HTML, Backbone.js, Underscore.js, Require.js, jQuery, Sass, Stylus, Handlebars, Git</dd>
        <dt>Proficient</dt>
            <dd>Python3, PHP, PostgreSQL, MySQL, Django 1.6/1.7, Django REST Framework, Karma with Jasmine, the Intern, Polymer, X-Tag, Pixi.js, Photoshop, GNU Make, 6502 assembly</dd>
        <dt>Some Familiarity</dt>
            <dd>Java, C/C++, Grunt.js, d3.js, three.js, Apache, OpenShift</dd>
    </dl>

    <h3>Process</h3>

    <ul class="cv_process_list">
        <li>Unit and integration esting before and during development.</li>

        <li>Iterative development and frequent releases (e.g., kanban, "agile").</li>

        <li>Distributed version control with well-encapsulated commits and deliberate branching/merging strategies (e.g., gitflow, github flow).</li>

        <li>Code reviews to enforce standards and distribute knowledge.</li>
    </ul>
</section>

<section>
    <h2 class="text_center">Work Experience</h2>

    <header class="cv_position_header">
        <h3>Lead Frontend Developer</h3>
        <p>Zappallas US / Daily Insight Group. Portland, OR.</p>
        <p>Jul 2013 – Present</p>
    </header>

    <p>DIG has many website properties, the largest of which is <a href="http://www.tarot.com/">Tarot.com</a>.  We have a service-oriented architecture, each service consisting of a Python/Django application using Django REST Framework and PostgreSQL.</p>

    <ul class="cv_position_detail_list">
        <li>4-7 person engineering team within a 20-30 person company.</li>

        <li>
            <dl>
                <dt>Responsibilities</dt>
                    <dd>
                        <ul>
                            <li>Choose frontend technologies used on DIG sites.</li>

                            <li>Develop and enforce frontend standards (HTML, CSS, and JS).</li>

                            <li>Build and maintain makefile build systems for all projects.</li>

                            <li>Perform full-stack maintenance on Tarot.com, a PHP-based site with a custom MVC framework.</li>

                            <li>Review code prior to merging and deployment.</li>

                            <li>Interface with designers, marketing, and sales.</li>

                            <li>Hire and oversee Junior front-end developers.</li>
                        </ul>
                    </dd>
            </dl>
        </li>

        <li>
            <dl>
                <dt>Achievements</dt>
                    <dd>
                        <ul>
                            <li>Introduced front-end testing to Tarot.com using Sitepen Labs' Intern testing framework: unit testing with Chai and integration testing with Leadfoot/Chai and Selenium. </li>

                            <li>Architected and led the implementation of a flexible <a href="http://tarot.com/readings-reports/tarot-readings/celtic-cross-10-card">Tarot reading platform</a>, including <a href="http://m.tarot.com/readings-reports/tarot-readings/celtic-cross-10-card">a mobile-optimized version</a> utilizing swipe gestures when picking cards.  Built with Backbone and Django/REST framework, featuring WebGL graphics with canvas fallback via pixi.js.</li>

                            <li>Designed and implemented the front end of <a href="http://www.freehoroscope.com/">FreeHoroscope.com</a> and co-architected it's REST API.  Front-end written with Backbone.js and Require.js, features responsive 12-grid templates with Handlebars, Sass, and Foundation.</li>
                        </ul>
                    </dd>
            </dl>
        </li>
    </ul>

    <header class="cv_position_header">
        <h3>Software Developer</h3>
        <p><a href="http://www.supportland.com/">Supportland</a>. Portland, OR.</p>
        <p>Dec 2011 – Jun 2013</p>
    </header>

    <ul class="cv_position_detail_list">
        <li>3 person engineering team within a 6 person company.</li>

        <li>
            <dl>
                <dt>Responsibilities</dt>
                    <dd>
                        <ul>
                            <li>Built REST APIs in PHP with Luracast Restler for use by web and mobile clients.</li>

                            <li>Designed and built Backbone.js REST clients with Require.js, Underscore.js, and Bootstrap 2.</li>

                            <li>Performed full-stack maintenance on Supportland.com, a PHP-based site with a custom MVC framework.</li>
                        </ul>
                    </dd>
            </dl>
        </li>

        <li>
            <dl>
                <dt>Achievements</dt>
                    <dd>
                        <ul>
                            <li>Designed metrics for Supportland businesses, wrote MySQL queries to generate them, exposed data via REST APIs, accessed APIs with Backbone.js, and displayed data visualizations with d3.js SVG graphs.</li>

                            <li>Created (unreleased) browser extensions for Chrome, Safari, and Firefox to highlight Supportland businesses in Google search results.</li>
                        </ul>
                    </dd>
            </dl>
        </li>
    </ul>

    <header class="cv_position_header">
        <h3>Freelance Web Developer</h3>
        <p>Dec 2006 – Dec 2012</p>
    </header>

    <p>For six years I developed customized PHP websites for different clients, including:</p>

    <dl>
        <dt><em><a href="http://www.chrisgroban.com/">Chris Groban – Film Director</a></em>, 2012</dt>
            <dd>JavaScript/canvas site using video.js.</dd>

        <dt><em><a href="http://wwww.patheywardcanes.com/">Pat Heyward Canes</a></em>, 2011</dt>
            <dd>Custom ZenCart template over existing site. SEO campaign brought PageRank from unranked to four and increased traffic.</dd>

        <dt><em><a href="http://purespaceportland.com/">Pure Space</a></em>, 2011</dt>
            <dd>WordPress site with a custom template.</dd>

        <dt><em><a href="http://www.pasadenaplayhouse.com/">Pasadena Playhouse</a></em>, 2010</dt>
            <dd>MODx website and WordPress blog.</dd>

        <dt><em><a href="http://www.wcep.com/">West Coast Event Productions</a></em>, 2010</dt>
            <dd>Custom PHP/MySQL product catalog, WordPress blog with feed.</dd>

        <dt><em><a href="http://www.smsautofabrics.com/">SMS Auto Fabrics</a></em>, 2009</dt>
           <dd>MODx website with MySQL database/search tool for 50,000+ records of interior auto products, customer database.</dd>
    </dl>
</section>
